        <footer>
            <p>Distributed under the MIT License. Made with love by <a href="http://beneb.info">Ben Briggs</a> &amp; <a href="https://github.com/ben-eb/midas/graphs/contributors">contributors</a>.</p>
            <p><img src="/images/logo-alt.svg" width="80" height="80"></p>
        </footer>
    </body>
</html>
